@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-background-header: rgba(12, 47, 69, 1);
  --color-background: rgba(255, 255, 255, 1);
  --color-primary-text: #131313;
  --color-primary-title: #0c2f45;
  --color-buttons-basic: rgba(183, 255, 122, 1);
  --color-buttons-hover: rgba(165, 229, 111, 1);
  --color-text-light: #00b67a;
  --color-btn-arr-basic: rgba(251, 250, 250, 1);
  --color-btn-arr-hover: rgba(234, 234, 234, 1);
  --color-btn-arr-gr-basic: rgba(0, 182, 122, 1);
  --color-btn-arr-gr-hover: rgba(0, 142, 95, 1);
}

body {
  background-color: var(--color-background);
  color: var(--color-primary-text);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.35;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header__container {
  background-color: var(--color-background-header);
  border-radius: 80px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.text-header {
  color: var(--color-background);
}
.header__nav a {
  display: block;
  height: 44px;
  cursor: pointer;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 207px;
  height: 44px;
  border-radius: 80px;
  padding: 10px, 25px;
  background-color: var(--color-buttons-basic);
  color: var(--color-primary-title);
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  justify-content: center;
  border: none;
}

.header-button:hover {
  background-color: var(--color-buttons-hover);
}
/* hero section */

.hero-section {
  padding-top: 40px;
  background-image: linear-gradient(
      270deg,
      rgba(21, 74, 128, 0) 0%,
      rgba(21, 74, 128, 0.9) 80.47%
    ),
    url('./img/bckg-hero.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-section__block {
  display: flex;
  gap: 130px;
}
.hero-section__text {
  padding-top: 294px;
  width: 570px;
}

.hero-title {
  color: var(--color-buttons-basic);
  font-size: 55px;
  line-height: 1.2;
  text-transform: uppercase;
}
.hero-text {
  color: var(--color-background);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.hero-section__button {
  display: flex;
  justify-content: space-between;
}

.hero-button-one {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 270px;
  height: 59px;
  border-radius: 80px;
  padding: 10px, 25px;
  background-color: var(--color-buttons-basic);
  color: var(--color-primary-title);
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  justify-content: center;
  border: none;
}

.hero-button-one:hover {
  background-color: var(--color-buttons-hover);
  box-shadow: 0px 4px 10px 0px rgba(183, 255, 122, 0.5);
}

.hero-button-two {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 270px;
  height: 59px;
  border-radius: 80px;
  padding: 10px, 25px;
  background-color: transparent;
  color: rgba(183, 255, 122, 1);
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  justify-content: center;
  border: solid rgba(183, 255, 122, 1);
}

.hero-button-two:hover {
  background-color: rgba(201, 235, 173, 0.3);
  box-shadow: 0px 4px 10px 0px rgba(183, 255, 122, 0.5);
}
.hero-section__form {
  padding-top: 174px;
  padding-bottom: 300px;
}
.form {
  font-family: 'Montserrat', sans-serif;
  padding: 50px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(183, 255, 122, 0.4) 100%
  );
  border-radius: 40px;
}

.email {
  width: 370px !important;
  height: 48px !important;
  background-color: var(--color-primary-normal);
  border: none !important;
  border-radius: 8px;
  margin-bottom: 30px !important;
}

.email::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  color: var(--color-text-dark);
}

.inp {
  width: 370px !important;
  height: 48px !important;
  margin-bottom: 29px;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0);
}

.inp::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-left: 20px;
}

.phone {
  height: 48px;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 15px;
  box-sizing: border-box;
  width: 255px;
  margin-left: -20px;
}

.phone::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.cantry {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
  background-color: rgba(201, 235, 173, 1);
  border-radius: 8px 0 0 8px;
  width: 120px;
  height: 38px;
}

span {
  color: #000;
}

.block {
  display: flex;
  align-items: center;
}

.img-flag {
  padding-top: 3.5px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 3.5px;
}

.cantry img {
  width: 25px;
  height: auto !important;
}

.cantry span {
  margin-right: 8px;
  font-size: 20px;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 370px;
  height: 59px;
  border-radius: 80px;
  padding: 10px, 25px;
  background-color: var(--color-buttons-basic);
  color: var(--color-primary-title);
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  justify-content: center;
  border: none;
  margin-top: 21px;
}

.form-button:hover {
  background-color: var(--color-buttons-hover);
}

.numbers-container {
  margin-top: -127px;
  background-color: #fff;
  border-radius: 40px;
  padding: 50px;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
}

.numbers-content {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
.section-title {
  padding-bottom: 30px;
}
.markets-section {
  margin-bottom: 50px;
}
.numbers-block {
  text-align: center;
}

.markets-based-text {
  text-align: center;
}

.makets-block {
  display: flex;
  padding-top: 50px;
  gap: 30px;
  padding-bottom: 50px;
}

.desc {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.usd-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.usd-card {
  background-color: rgba(251, 250, 250, 1);
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  border-radius: 20px;
  padding: 25px;
  width: 220px;
}
.usd-img {
  display: flex;
  justify-content: center;
}

.usd-title {
  font-size: 20px;
  padding-top: 25px;
}

.sum {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 25px 0;
}

.sum-color {
  color: var(--color-text-light);
}

.usd-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 44px;
  padding: 10px 25px;
  border: solid 2px var(--color-primary-title);
  border-radius: 80px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}

.usd-button:hover {
  background-color: rgba(234, 234, 234, 1);
}

.usd-btn-block {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.usd-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 370px;
  height: 59px;
  border-radius: 80px;
  padding: 15px, 10px;
  background-color: var(--color-buttons-basic);
  color: var(--color-primary-title);
  cursor: pointer;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  justify-content: center;
  border: none;
}

.usd-btn:hover {
  background-color: var(--color-buttons-hover);
  box-shadow: 0px 4px 10px 0px rgba(183, 255, 122, 0.5);
}

.top-img {
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-block {
  display: flex;
  gap: 130px;
  margin-bottom: 100px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

video {
  width: 570px !important;
  height: 321px;
  border-radius: 20px;
}

.problem-block {
  display: flex;
  justify-content: space-between;
}

.problem-card {
  background-color: rgba(251, 250, 250, 1);
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  padding: 25px;
  width: 220px;
  height: 600px;
}

.problem-img {
  display: flex;
  justify-content: center;
  padding: 25px 0 25px 0;
}

.problem-title {
  font-size: 20px;
  font-weight: 600;
}

.problem-section {
  margin-bottom: 71px;
}

.solution-section {
  background-image: url(./img/solution-bckg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 50px;
  color: #fff;
  padding-bottom: 193px;
}

.solution-text {
  display: flex;
  gap: 130px;
}

.solution-desc {
  width: 570px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title-solution {
  padding-top: 83px;
}

.solution-icons-block {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

.solution-icon {
  width: 400px;
  text-align: center;
}

.solution-img {
  display: block;
  align-content: center;
  margin-bottom: 30px;
  height: 80px;
}

.solution-title {
  margin-bottom: 20px;
}

.reviews-container {
  margin-top: -143px;
  background-color: #fff;
  padding: 50px;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  margin-bottom: 100px;
}

.reviews-block {
  display: flex;
  justify-content: space-between;
}

.reviews-cards {
  background-color: rgba(234, 234, 234, 1);
  border-radius: 20px;
  padding: 15px;
  width: 220px;
  font-size: 20px;
  align-items: 1.45em;
}
.reviews-title {
  padding: 20px 0 10px 0;
}

.reviews-img-block {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
}

.review-buttons {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.review-btn {
  background-color: transparent;
  width: 98px;
  height: 50px;
  padding: 10px 40px;
  border-radius: 80px;
  border: solid 2px var(--color-primary-title);
  cursor: pointer;
}

.review-btn:hover {
  background-color: rgba(234, 234, 234, 1);
}

.video-section {
  text-align: center;
}

.video-carousel {
  display: flex;
  overflow: hidden;
}

.video_block {
  flex: 0 0 33.33%; /* 3 videos per row */
  display: none;
}

.video_block.show {
  display: block;
}

video.video-img {
  width: 370px !important;
  height: 208px !important;
}

.buttons-video {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.btn-video {
  background-color: var(--color-text-light);
  margin-top: 20px;
  border: none;
  width: 98px;
  height: 50px;
  border-radius: 80px;
  cursor: pointer;
}

.btn-video:hover {
  background-color: rgba(0, 142, 95, 1);
}

.partners-block-1 {
  display: flex;
  justify-content: space-between;
}

.partners-block-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
}

.opinion-one {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.opinion-desc {
  background-color: #fff;
  padding: 20px 30px;
  margin-left: -90px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.3);
}

.opinion-title {
  font-size: 20px;
  padding-bottom: 20px;
}

.opinion-two {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.opinion-desc-two {
  background-color: #fff;
  padding: 20px 30px;
  margin-right: -90px;
  border-radius: 20px;
  margin-top: 30px;
  z-index: 100;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.3);
}

.img-opinion {
  z-index: -1;
}

.makes-text {
  display: flex;
  gap: 30px;
  margin-bottom: 67px;
}

.footer {
  background-image: linear-gradient(
      180deg,
      rgba(12, 50, 123, 0.8) 0%,
      rgba(4, 15, 26, 0.8) 140.07%
    ),
    url(./img/bckg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 83px 0 50px 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.footer form {
  display: inline-block; /* Щоб форма відображалася в рядок і була центрована */
  text-align: left; /* Це розташує текст у формі ліворуч, але сама форма буде по центру .footer */
}

.footer .block {
  text-align: center; /* Центруємо вміст блоку з прапором і введенням телефону */
}

.footer .btn {
  margin-top: 10px; /* Зазначаємо верхній відступ для кнопки */
}

footer {
  position: relative; /* Додаємо relative positioning, щоб можна було використовувати absolute positioning для ::before */
}

footer::before {
  content: '';
  background-image: url('./img/windmill.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 445px;
  height: 592px;
  bottom: 0;
  left: 110px; /* Центруємо зображення по горизонталі відносно footer */
  transform: translateX(
    -50%
  ); /* Зміщуємо назад на половину ширини зображення, щоб точно центрувати */
}

.copyright {
  color: rgba(206, 206, 206, 1);
}

.form-footer {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(183, 255, 122, 0.4) 100%
  );
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 40px;
}

.form-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.text-header-mob {
  display: none;
}

@media (max-width: 400px) {
  .header__container {
    height: 51px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    width: 320px;
  }

  .header__nav img {
    width: 120px;
  }

  .header__nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
  }

  .text-header {
    display: none;
  }

  .header-button {
    width: 130px;
    height: 31px;
    font-size: 14px;
    margin-right: 20px;
  }

  .text-header-mob {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
  }

  .hero-section__block {
    margin-top: 110px;
    display: block;
  }

  .hero-section__text {
    padding: 0;
    text-align: center;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-text {
    font-size: 16px;
    padding-top: 18px;
    padding-bottom: 110px;
  }

  .hero-section__button {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .inp {
    width: 320px !important;
    padding: 0;
  }

  .phone {
    width: 200px;
  }

  .form {
    padding: 50px 20px;
    border-radius: 0;
  }

  .form-button {
    width: 320px;
    height: 59px;
    padding: 0;
    border-radius: 80px;
  }
}
